/*Esto lo trabajo para dar formato al modal*/

#formContainer {
  height: 100%;
}

#termsConditionModal .terms-text {
  max-height: 60%;
  overflow: auto;
}

/*Otorgo un fondo al formulario*/
.container-fluid{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.formulario{
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #f2f3f7
}